<div class="mt-4 container">
    <h3>Cập nhập khóa học</h3>
    <form method="POST" action="/courses/{{courses._id}}?_method=PUT">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">name</label>
            <input type="text" class="form-control" value="{{courses.name}}" id="exampleInputEmail1" 
                name="name"
            >
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Description</label>
            <textarea type="text" class="form-control"  id="exampleInputEmail1" 
                name="description"
            > {{courses.description}}</textarea>
        </div>
        
        
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">videoID</label>
            <input type="text" class="form-control" value="{{courses.videoID}}" id="exampleInputEmail1" 
                name="videoID"
            >
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">trình độ</label>
            <input type="text" class="form-control" value="{{courses.level}}" id="exampleInputEmail1" 
                name="level"
            >
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Image</label>
            <input type="text" class="form-control" value="{{courses.image}}" id="exampleInputEmail1" 
                name="image"
            >
        </div>
        
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>