<div class="mt-4 container">
    <div class="">
      <h3>Khóa học của tôi</h3>
      <a href="/me/trash/courses">Thùng rác : {{deleted}}</a>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian tạo</th>
                <th>Tùy chọn</th>
            </tr>
        </thead>
        <tbody>

            {{#each courses}}
                
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.updatedAt}}</td>
                    <td>
                        <a href="/courses/{{this._id}}/edit" class="btn">Sửa</a>
                        <a href="" class="btn" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-courses-modal">Xóa</a>
                    </td>
                </tr>
            
            {{else }}
              <tr>
                <td colspan="5" class="text-center">Bạn chưa đăng khóa học nào. <a href="/courses/create">Đăng khóa học</a></td>
              </tr>
            {{/each}}
        </tbody>
    </table>
</div>


{{!-- confirm delete courses --}}

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="delete-courses-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">Xóa khóa học</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa không
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" id="btn-delete-courses">Xóa bỏ</a>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>


{{!-- form delete courses --}}

    <form name="delete-courses-form" method="POST" > </form>
    

<script>
  var btnID;
  var deleteForm=document.forms['delete-courses-form']

  const exampleModal = document.getElementById('delete-courses-modal')
    if (exampleModal) {
      exampleModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        btnID = button.getAttribute('data-id')
      })
    }
  
  var btnDeleteCourses = document.getElementById('btn-delete-courses')
  btnDeleteCourses.addEventListener('click', () => {
    deleteForm.action=`/courses/${btnID}?_method=DELETE`
    deleteForm.submit()
  })


</script>