<div class="mt-4 container">
    
    <h3>Khóa học của tôi</h3>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian tạo</th>
                <th>Tùy chọn</th>
            </tr>
        </thead>
        <tbody>

            {{#each courses}}
                
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.timestamps}}</td>
                    <td>
                        <a href="/courses/{{this._id}}/edit" class="btn">Sửa</a>
                        <a href="" class="btn">Xóa</a>
                    </td>
                </tr>
            
            {{/each}}
        </tbody>
    </table>
</div>