<form name="container-form" method="POST" class="mt-4 container" action="/courses/handle-form-action">
    <div class="">
      <h3>Khóa học của tôi</h3>
      <a href="/me/trash/courses">Thùng rác : {{deleted}}</a>
    </div>
    <div class="mt-4 d-flex align-item-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
      </div>
      <select class=" form-select-sm " id="select-all-checkbox" aria-label=".form-select-sm example" name="action" required >
        <option value="">--- Chọn hành động ---</option>
        <option value="delete">xóa</option>
        <option value="post">Thêm</option>
      </select>
      <button type="submit" class="btn btn-primary btn-sm btn-delete-checkbox-all" disabled >Thực hiện</button>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th></th>
                <th scope="col">STT</th>
                <th scope="col">Tên</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian tạo</th>
                <th>Tùy chọn</th>
            </tr>
        </thead>
        <tbody>

            {{#each courses}}
                
                <tr>
                    <td>
                      <div class="form-check">
                        <input name="couressIds[]" class="form-check-input" type="checkbox" value="{{this._id}}">
                        
                      </div>
                    </td>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.updatedAt}}</td>
                    <td>
                        <a href="/courses/{{this._id}}/edit" class="btn">Sửa</a>
                        <a href="" class="btn" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-courses-modal">Xóa</a>
                    </td>
                </tr>
            
            {{else }}
              <tr>
                <td colspan="5" class="text-center">Bạn chưa đăng khóa học nào. <a href="/courses/create">Đăng khóa học</a></td>
              </tr>
            {{/each}}
        </tbody>
    </table>
</form>


{{!-- confirm delete courses --}}

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="delete-courses-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">Xóa khóa học</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa không
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" id="btn-delete-courses">Xóa bỏ</a>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>


{{!-- form delete courses --}}

    <form name="delete-courses-form" method="POST" > </form>
    

<script>


  document.addEventListener('DOMContentLoaded', function() {

    var btnID;
    var containerForm = document.querySelector('form[name="container-form"]')
    var deleteForm=document.forms['delete-courses-form']
    var checkboxAll = document.querySelector('#checkbox-all')
    var courseItemCheckbox = document.querySelectorAll('input[name="couressIds[]"]')
    var btnDeleteCheckboxAll = document.querySelectorAll('.btn-delete-checkbox-all')
    var selectHandle = document.querySelector('#select-all-checkbox')
    
    //modal delete courses
    const exampleModal = document.getElementById('delete-courses-modal')
      if (exampleModal) {
        exampleModal.addEventListener('show.bs.modal', event => {
          const button = event.relatedTarget
          btnID = button.getAttribute('data-id')
        })
      }
    //form delete courses
    var btnDeleteCourses = document.getElementById('btn-delete-courses')
    btnDeleteCourses.addEventListener('click', () => {
      deleteForm.action=`/courses/${btnID}?_method=DELETE`
      deleteForm.submit()
    })

    //checkbox all courses
    checkboxAll.addEventListener('change',(e) => {
      var isCheckedAll = e.target.checked
        courseItemCheckbox.forEach(item => item.checked = isCheckedAll)
        renderCheckAllSubmitBtn(isCheckedAll)
      })

    //courseItemcheckbox checked
    courseItemCheckbox.forEach( item => {

      item.addEventListener('change',(e) => {
        var isCheckedAll = courseItemCheckbox.length === document.querySelectorAll('input[name="couressIds[]"]:checked').length
        checkboxAll.checked = isCheckedAll
        console.log('hihi')
        renderCheckAllSubmitBtn()
      })
    })
    selectHandle.addEventListener('change',(e) => {
      renderCheckAllSubmitBtn()
    })
    


    function renderCheckAllSubmitBtn(e) {
      var isCheckedAll =document.querySelectorAll('input[name="couressIds[]"]:checked').length

      if(isCheckedAll > 0 && selectHandle.value != "") { 
        btnDeleteCheckboxAll[0].removeAttribute('disabled')
      }else {
        btnDeleteCheckboxAll[0].setAttribute('disabled','true')
      }
      
    } 


  })

</script>